.main {
  background-color: #f7f8fc;
  height: 100%;

  .main_container {
    max-width: 440px;
    margin: auto;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    font-family: "Roboto";

    .main_header {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: #ffffff;
      padding: 20px 20px 0 20px;

      h1 {
        font-size: 20px;
        line-height: 23px;
        margin: 0;
        padding: 0 0 28px 0;
      }
    }

    .login_input {
      background-color: #ffffff;
      padding: 20px;
      border-top: 1px solid #bfbfbf;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      .ant-row {
        width: 100%;
      }

      .ant-input {
        padding: 15px;
        border-radius: 4px;
      }

      .ant-btn.ant-btn-block {
        font-size: 12px;
        border-radius: 4px;
      }

      .ant-checkbox + span {
        font-weight: 700;
        line-height: 14px;
      }
    }
  }

  .main-page {
    padding: 20px 30px 39px 30px;

    .pending-data {
      padding-bottom: 20px;
      border-radius: 10px;

      h2 {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        margin: 0;
      }

      div {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
      }

      .ant-row {
        justify-content: space-between;
        align-items: center;

        .ant-row {
          gap: 20px;
        }
      }
    }

    .data {
      padding: 20px;
      border: 1px solid #bfbfbf;
      border-radius: 10px;
      background-color: #ffffff;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 15px;
      row-gap: 20px;

      @media screen and (max-width: 800px) {
        grid-template-columns: 1fr 1fr;
      }

      @media screen and (max-width: 500px) {
        grid-template-columns: 1fr;
      }

      .data-container {
        padding: 25px;
        border: 1px solid #bfbfbf;
        border-radius: 10px;
      }

      h1,
      span {
        font-weight: 700;
      }

      p {
        margin: 0;
      }

      .button {
        display: flex;
        justify-content: end;
      }

      .ant-btn {
        border-radius: 4px;
        width: 70px;
        height: 36px;
        margin-top: 7px;
      }
    }
  }

  .ant-row {
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .service {
    .ant-tabs-tab + .ant-tabs-tab {
      margin: 0 0 0 10px;
    }

    .ant-tabs > .ant-tabs-nav {
      margin: 0;
    }

    .ant-tabs-top > .ant-tabs-nav::before,
    .ant-tabs-bottom > .ant-tabs-nav::before,
    .ant-tabs-top > div > .ant-tabs-nav::before,
    .ant-tabs-bottom > div > .ant-tabs-nav::before {
      border: none;
    }
  }

  .service-overview {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;

    .ant-table-thead > tr .ant-table-cell {
      background-color: #ffffff;
      border-bottom: 0;
    }

    .ant-table-thead
      > tr
      > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
      background-color: transparent;
    }

    h2,
    div {
      font-weight: 700;
    }

    .total {
      position: absolute;
      left: 89%;
      top: 174px;
    }

    .ant-tabs-tab-btn {
      font-size: 18px;
    }

    
    .ant-table-tbody > tr > td:first-of-type {
      color: #00AAF1;
      font-size: 18px;
    }
    
  }
}
