#home {
  .content-container {
    padding: 0px 70px 15px;

    .content {
      button {
        &.ant-btn {
          font-weight: bold;
        }
      }

      cursor: pointer;

      &:hover {
        box-shadow: 0 0 10px 0px #999999;
      }
    }
  }
}
